/* -- Style body/html -- */
html {
   font-family: sans-serif;
}

body {
   min-height: 43vw;
   margin: 0;
   background: #FEFEFF;
   padding-top: 50px;
   padding-bottom: 0;
}

/* -- Le navigateur et footer-- */
nav {
   position: fixed;
   width: 100vw;
   left: 0;
   top: 0;
   background: #224a52;
   display: flex;
   align-items: center;
   padding: 0 0.5rem;
   z-index: 100;
}

nav .nav-left {
   margin-left: 110px;
   display: flex;
   align-items: center;
   color:#ffffff;
   font-size: large;
   font-weight: bold;
}

nav .nav-left img {
   margin-right: 7px;
}


nav h1 {
   flex: auto;
   margin: 0;
}

nav ul {
   display: flex;
   list-style: none;
   margin: 0;
   margin-left: auto;
   margin-right:200px;
   padding: 0;
}

nav ul li a,
nav ul li span,
header {
   display: flex;
   padding: 0.5rem;
   margin-left: 15px;
   text-decoration: none;
   align-items: center;
}

a.none {
   text-decoration: none;
}

a.lien {
   color: #EBE3F5;
   text-decoration: none;
}

a.lien:hover {
   color: #d6ecff;
   text-decoration: underline;
}

/* -- Le contenu principal -- */
main {
   display: flex;
   justify-content: center;
   align-items: stretch;
   margin: 0 auto;
}

div.contenu-central {
   max-height: fit-content;
   flex: 1;
   background: rgba(250, 255, 253, 0.886);
   padding: 20px;
   box-shadow: 9px 0px 16px rgba(0, 0, 0, 0.1);
}

div.cotes {
   width: 13%;
   background: transparent;
}

div.welcome {
   position: relative;
   background-color: #ffffffe8;
   font-size: x-large;
   color: #224a52;
   padding: 30px;
   border-radius: 100px;
   margin-top: 50px;
   text-align: center;
   z-index: 5;
}

h1 {
   font-family: serif;
   margin: 1rem 0;
}

/* -- Les titres-box -- */
div.titre-box {
   position: relative;
   z-index: 5;
   width: max-content;
   background: rgba(250, 255, 253, 0.8);
   margin: auto;
   margin-top: 10px;
   margin-bottom: 35px;
   padding: 450px;
   border-radius: 50px 50px 50px 50px;
   padding-bottom: 5px;
   padding-top: 5px;
   box-shadow: 0.2px 0.8px 4px #224a5240;
}

div.titre-box:hover {
   transform: perspective(10px);
   transition: transform 0.4s ease;
   box-shadow: 8px 8px 24px #224a5240;
   z-index: 10;
}

div.mini_titre-box {
   width: max-content;
   background-color: #ffffff;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 50px;
   padding-bottom: 1px;
   padding-top: 1px;
   border-radius: 50px;
   box-shadow: 0.2px 0.8px 4px #224a5240;
   text-align: center;
}


/* -- Style de l'équipe -- */
div.equipe {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 60px;
   row-gap: 10px;
   width: 87%;
   margin: auto;
}

.membre-box {
   display: flex;
   z-index: 1;
   flex-direction: column;
}

div.membre {
   display: flex;
   align-items: center;
   border-radius: 50px 10px 10px 50px;
   box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   margin-top: 17px;
   margin-bottom: 30px;
   width: 350px;
   position: relative;
   background: linear-gradient(80deg, var(--fond) 73%, white 27%);
}

div.info {
   flex-grow: 1;
   margin-left: 84px;
   padding-bottom: 20px;
   line-height: 0.55;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: var(--couleur);
}

div.info h2 {
   font-size: 20px;
   font-weight: 500;
}

div.info_sup {
   position: relative;
   width: 66px;
   height: 60px;
   padding-top: 6px;
   left: 7px;
   border-radius: 50%;
   align-self: auto;
   text-align: center;
   font-size: 37px;
   color: #7b8a8b;
   cursor: pointer;
   transition: all 0.3s ease;
}

.info_sup:hover {
   background-color: var(--fond);
   color: var(--couleur);
   opacity: 0.4;
}

.info_sup:active {
   transform: rotate(160deg);
   opacity: 1;
}

/* -- Info supplémentaire des membres -- */
.bandelette {
   display: none;
   align-items: center;
   border-radius: 0px 0px 10px 50px;
   box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   width: 350px;
   position: relative;
   bottom: 40px;
   background-color: var(--fond);
   color: var(--couleur);
   z-index: -1;
   background: linear-gradient(80deg, var(--fond) 77.3%, white 22.7%);
}

.bandelette:target {
   display: block;
}

.bandelette .close {
   display: block;
   text-align: right;
   text-decoration: none;
   font-weight: bold;
   margin-top: 5px;
}

ul.passion {
   position: relative;
   margin: 0;
   bottom: 8px;
}

/* -- Style des images -- */
img.logo_site {
   width: 33px;
   height: auto;
   object-fit: cover;
   border-radius: 50%;
   border: 3.2px solid #ffffff;
   box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.1);
}

img.site {
   position: relative;
   width: 120px;
   height: auto;
   object-fit: cover;
   border-radius: 50%;
   border: 5px solid #ffffff;
   box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.1);
   left: 4px;
}

img.site:hover {
   transform: scale(1.17);
   transition: transform 0.4s ease;
   box-shadow: 8px 8px 24px #224a5240;
   z-index: 10;
}

img.site:active {
   transform: rotate(180deg);
   transition: transform 0.7s ease-out;
}

img.profil {
   position: absolute;
   width: 97px;
   height: 97px;
   object-fit: cover;
   border-radius: 50%;
   border: 5px solid #ffffff;
   box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.1);
   left: -12px;
}

img.logo {
   width: 30px;
   height: auto;
   margin-right: 5px;
   object-fit: cover;
   vertical-align: middle;
   border-radius: 50%;
}


img.icon {
   width: 28px;
   height: 28px;
   object-fit: cover;
   border-radius: 50%;
   margin-right: 4px;
   align-items: center;
}

img.fond {
   object-fit: cover;
   min-height: fit-content;
   width: 100%;
   position: absolute;
   top: -0px;
   z-index: -1;
}

img.fond_up {
   object-fit: cover;
   min-height: fit-content;
   width: 100%;
   position: absolute;
   top: 0px;
   z-index: 3;
}

/* -- Style des tables -- */
div.statistique {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

div.flights {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   margin: auto;
   align-items: start;
   justify-items: center;
}

div.tableau {
   max-height: 250px;
   overflow-y: scroll;
   overflow-x: hidden;
   width: fit-content;
   padding-right: 32px;
   padding-left: 32px;

}

th {
   background: #224a52;
   border-radius: 4%;
   color: rgba(255, 255, 255);
}

td {
   background: rgba(250, 255, 253, 0.871);
}

th,
td {
   padding: 10px;
   box-shadow: 0.2px 0.8px 4px #224a5240;
}


table {
   height: 100px;
   text-align: center;
   border-radius: 5%;
}

table tr:hover {
   transform: scale(1.17);
   transition: transform 0.4s ease;
   box-shadow: 8px 8px 24px #224a5240;
   z-index: 10;
}

/* -- Pas encore utilisé -- */
div.case {
   background-color: #90bdae;
   margin: 8px;
   padding: 4px;
   text-align: center;
   font-size: 16px;
   border: 3px solid #0e4c2d;
   border-radius: 8px;
   width: fit-content;
}

a.bouton {
   background-color: #224a52;
   color: #EBE3F5;
   padding: 6px 10px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   text-decoration: none;
}

a.bouton:hover {
   background-color: #2e6b64;
}