{% extends "base.html" %}

{% block titre %}
<h1>Listes des aéroports</h1>
{% endblock %}

{% block left_content %}{% endblock %}

{% block content %}

<h2>Airports list</h2>
Nombre d'aéroports récupérés : {{ airports|length }}
<table>
   <tr>
      <th>IATA code</th>
      <th>Name</th>
      <th>Iso country</th>
   </tr>
   {% for airport in airports %}
   <tr>
      <td>{{airport['iata_code'] }}</td>
      <td>{{airport['name'] }}</td>
   </tr>
   <p></p>
   {% endfor %}
</table>
{% endblock %}

{% block right_content %}{% endblock %}