{% extends "base.html" %}

{% block titre %}
<h1>Vos avis sur notre site web</h1>
{% endblock %}

<!-- <button class="message" type="submit"><img src="{{ url_for('static', filename='navigateur/icon_avis.png') }}"class="icon"></button>-->
{% block content %}
<div class="message-box">
    hey j'aime le site
</div>

<div class="donner_avis" onclick="ouvrirModale()">
    <h1>Donnez votre avis ici !</h1>
</div>

<!-- Modale cachée au départ -->
<div id="avis" class="avis">
    <div class="popup">
        <div class="rating">
            {% for etoile in etoiles %}
                <input type="radio" id={{etoile[0]}} name="note" value="{{etoile[1]}}" required/>
                <label for={{etoile[0]}}>★</label>
            {% endfor %}
        </div>
        <h2>Entête</h2>
        <textarea rows="1" cols="35" placeholder="Votre entête..." required></textarea>
        <h2>Laissez votre avis</h2>
        <p><textarea rows="2" cols="50" placeholder="Votre avis..." required></textarea></p>
        <button onclick="fermerModale()">Envoyer</button>
    </div>
</div>

<script>
    function ouvrirModale() {
        document.getElementById("avis").style.display = "flex";
    }
    
    function fermerModale() {
        document.getElementById("avis").style.display = "none";
    }
</script>
    
{% endblock %}