<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azuris Air</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_site_bleu.png') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/equipe">Equipe</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
