<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celestia Airlines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_site_bleu.png') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_site_blanc.png') }}"
                        class="icon">Main
                    page</a></li>
            <li><a href="/equipe" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_equipe.png') }}"
                        class="icon">Equipe</a></li>
            <li><a href="/country" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_country.png') }}"
                        class="icon">Country</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>