<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celestia Airlines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_site_bleu.png') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_site_blanc.png') }}"
                        class="icon">Page d'acceuil</a></li>
            <li><a href="/equipe" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_equipe.png') }}"
                        class="icon">Equipe</a></li>
            <li><a href="/compute_data" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_stats.jpg') }}"
                        class="icon">Statistiques</a></li>
            <li><a href="/airport" class="lien"><img src="{{ url_for('static', filename='navigateur/icon_site_blanc.png') }}"
                        class="icon">Aeroports</a></li>
        </ul>
    </nav>

    <div class="titre-box">
        {% block titre %}{% endblock %}
    </div>

    <main>
        <div class="cotes">
            {% block left_content %}{% endblock %}
        </div>

        <div class="contenu-central">
            {% block content %}{% endblock %}
        </div>

        <div class="cotes">
            {% block right_content %}{% endblock %}
        </div>
    </main>

</body>

</html>