{% extends "base.html" %}
{% block content %}
<div>
    <h1>Présentation</h1>
</div>
<main>
    <div class="case qui_suis_je">
        <h2>Qui suis-je ?</h2>
        <p>Je m'appelle {{prenom}}</p>
        <p>J'ai {{age}} ans</p>
        <p>Je suis étudiant(e) en science informatique à Charleroi</p>
        <p>Je suis membre du groupe CLR01</p>
    </div>
    <p></p>

    <div class="case mon_role">
        <h2>Mon rôle :</h2>
        {% for role in roles %}
        <p>{{role}}</p>
        {% endfor %}
    </div>
    <p></p>

    <div class="case mes_passions">
        <h2>Mes passions :</h2>
        {% for passion in passions %}
        <p>{{passion}}</p>
        {% endfor %}
    </div>
</main>
{% endblock %}