{% extends "base.html" %}
{% block content %}

<h2>Country list</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Iso Country</th>
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{ country['name'] }}</td>
        <td>{{ country['iso_country'] }}</td>
        <td><a href="{{ url_for("country.country_delete", iso_country=country['iso_country']) }}">Delete</a></td>
    </tr>
    {% endfor %}
    <h2>New country</h2>
    <form method="post" action="{{ url_for("country.country_create") }}">
       <div>
          <label for="iso_country"> ISO Country: </label>
          <input name="iso_country" id="iso_country" type="text" />
       </div>
       <div>
          <label for="name">Name: </label>
          <input name="name" id="name" type="text" />
       </div>
    <div>
       <button type="submit">Add a country </button>
    </div>

</table>
{% endblock %}