{% extends "base.html" %}
{% block content %}

<h2>Number of data</h2>
<table>
    <tr>
        <th>Number of airports</th>
        <th>Number of coutries</th>
        <th>Number of aircrafts</th>
        <th>Number of airlines</th>
        <th>Number of flights</th>
    </tr>
    <tr>
        <td>{{ data.airports }}</td>
        <td>{{ data.countries }}</td>
        <td>{{ data.aircrafts }}</td>
        <td>{{ data.airlines }}</td>
        <td>{{ data.flights }}</td>
    </tr>

</table>

<table>
    <tr>
        <th>AIRPORTS</th>
        <th>FLIGHTS</th>
    </tr>
    {% for airport, count in data['flights_by_airport'].items() %}
    <tr>
        <td>{{airport}}</td>
        <td>{{count}}</td>
    </tr>
    {%endfor%}
</table>
<table>
    <tr>
        <th>AIRLINES</th>
        <th>FLIGHTS</th>
    </tr>
    {% for airline, count in data['flights_by_airline'].items() %}
    <tr>
        <td>{{airline}}</td>
        <td>{{count}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}