{% extends "base.html" %}
{% block content %}
<h1>Membres de l'équipe</h1>
<p></p>
<div class="equipe">
    {% for membre, discord, route, image in info_equipe %}
    <div class="membre">
        <div class="profil">
            <img class="profil" src='{{ url_for("static", filename="equipe/"+image) }}'>
        </div>
        Membre numéro {{loop.index}} : <a class="bouton" href="{{route}}">{{membre}}</a>
        <p></p>
        <div class="membre_dc">
            <img class="logo" src='{{ url_for("static", filename="logo_discord.png") }}'> Discord : {{discord}}
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}