{% extends "base.html" %}

{% block titre %}
<h1>Statistiques</h1>
{% endblock %}

{% block content %}
<div class="statistique">
    <table>

        <tr>
            <th>Nombre d'aéroports</th>
            <th>Nombre de pays</th>
            <th>Nombre d'avions</th>
            <th>Nombre de compagnies aériennes</th>
            <th>Nombre de vols</th>

        </tr>

        <tr>
            <td>{{ data.airports }}</td>
            <td>{{ data.countries }}</td>
            <td>{{ data.aircrafts }}</td>
            <td>{{ data.airlines }}</td>
            <td>{{ data.flights }}</td>
        </tr>
    </table>
</div>

<div class="flights">

    <div class="mini_titre-box">
        <h2>Nombre de vols par aéroports</h2>
    </div>

    <div class="mini_titre-box">
        <h2>Nombres de vols par compagnies aériennes</h2>
    </div>

    <div class="tableau">
        <table>
            <thead>
                <tr>
                    <th>Aéroports</th>
                    <th>Vols</th>
                </tr>
            </thead>
            {% for airport, count in data['flights_by_airport'].items() %}
            <tr>
                <td>{{airport}}</td>
                <td>{{count}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="tableau">
        <table>
            <thead>
                <tr>
                    <th>Compagnies aériennes</th>
                    <th>Vols</th>
                </tr>
            </thead>
            {% for airline, count in data['flights_by_airline'].items() %}
            <tr>
                <td>{{airline}}</td>
                <td>{{count}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}

{% block content_down %}{% endblock %}