{% extends "base.html" %}
{% block content %}
<div>
    <h1>Présentation</h1>
</div>
<p></p>

<div class="case">
<h2>Qui suis-je ?</h2>
<p>Je m'appelle Zakaria</p>
<p>J'ai 18 ans</p>
<p>Je suis étudiant en science informatique à Charleroi</p>
<p>Je suis membre du groupe CLR01</p>
</div>
<p></p>

<div class="case">
    <h2>Mon rôle :</h2>
    <p>Je suis le porte parole du groupe</p>
    <p>Je m'occupe de la communication au sein du groupe</p>
    
</div>
<p></p>

<div class="case">
    <h2>Mes passions :</h2>
    <p>J'aime passer mon temps libre à jouer aux jeux vidéos </p>
    <p>J'aime bien les animes, surtout One piece et Vinland Saga</p>
    <p>A part ça, j'aime bien aussi m'entrainer !</p>
</div>
<p></p>
{% endblock %}