{% extends "base_membre.html" %}

{% block mon_role %}
<p>Je suis le porte parole du groupe</p>
<p>Je m'occupe de la communication au sein du groupe</p>
{% endblock %}

{% block mes_passions %}
<p>Mes passions :</p>
<p>J'aime le sport et voyager</p>

{% endblock %}
    


    <p>Je m'appelle Zakaria</p>
    <p>J'ai 18 ans</p>
    <p>Je suis étudiant en science informatique à Charleroi</p>
    <p>Je suis membre du groupe CLR01</p>
    </div>
    <p></p>
    
    
        <p>Je suis le porte parole du groupe</p>
        <p>Je m'occupe de la communication au sein du groupe</p>
        
    
        <h2>Mes passions :</h2>
        <p>J'aime le sport et voyager </p>